* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.tab1 {
    padding: 20px;
    font-size: 25px;
    border: solid 2px blue;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
}

 
.tab2 {
    padding: 20px;
    font-size: 25px; 
    border: solid 2px violet;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
}

.tab3 {
    padding: 20px;
    font-size: 25px;
    border: solid 2px green;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
} 

.tab-content {
    display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.p1{
    max-width: 100%;
    border: 2px solid blue;
    letter-spacing: 1px;
    padding:10px;
    border-radius: 10px;
    margin: 50px;
    display: none;
    
}
.p1.active{
    display:block;
}
 .p2{
    max-width: 100%;
    border: 2px solid violet;
    letter-spacing: 1px;
    padding:10px;
    margin: 50px;
    border-radius: 10px;
    display:none;
    
}
.p3{
    max-width: 100%;
    border: 2px solid green;
    letter-spacing: 1px;
    padding:10px;
    margin: 50px;
    border-radius: 10px;
    display:none;
    
} 

@media only screen and (min-width:1440px) {
    .p1{
        max-width: 25%;
    }
    .p2{
        max-width: 25%;
    }
    .p3{
        max-width: 25%;
    }
}